*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle files
.gradle/
build/
/*/build/


# IntelliJ files
*.ipr
*.iws
.idea/

# Fastlane
fastlane/report.xml
fastlane/.env.default

# Ruby gems in Circle build
vendor/
.bundle/

# Stetho Python cache
scripts/__pycache__/
